:root{
    --bg-color: white;
    --main-color: #242424;
    --main-contrast-color: #54BAB9;
    --alt-contrast-color: #9CC9C8;

    --custom-font: 'Alata'
}

html {
    font-family: Alata, sans-serif;
}

header{
    background-color: var(--main-color);
    width: 100%;
    height: fit-content;
    position:fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

header a {
    color: var(--bg-color);
}

h1 {
    color: var(--main-contrast-color)
}

h2,h3 {
    color: var(--alt-contrast-color)
}

body p {
    color: var(--main-color)
}

a {
    text-decoration: none;
}


#div-logo{
   padding: 30px;
   display: inline;
   float: left;
}

#logo-uade{
    width: 120px;
    height: auto;
    position: fixed;
}

nav {
    width: fit-content;
    display:flex;
    float:right;
    padding: 40px 20px;
    flex-wrap: wrap;
}

nav .active{
    color: var(--alt-contrast-color);
}

nav a {
    color: var(--bg-color);
    padding: 10px;
}

nav a:hover {
    color: var(--alt-contrast-color);
}


main {
    padding: 200px 10% 5%;   
}

.texto-der{
    display: inline-block;
    position: absolute;
    padding-left: 50px;
    padding-right: 5%;
    width: auto;
    min-width: 10%;
    overflow-wrap: normal;
}
.periodo-exp {
    display: inline-block;
    padding-right: 5%;
}

.card-foto{
    display: inline-block;
    height:400px;
    width: auto;
}

.card-foto img{
    max-width:100%;
    max-height:100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactos{
    position: fixed;
    right: 15px;
    bottom:10px;
}

.contactos ul{
    list-style-type: none;
    display: flex;
    align-items: end;
    
}

.contactos ul li{
    padding: 1%;
}

.gmail-icon{
    height: 38px;
    width: 40px;
    padding-bottom: 5px;
    padding-right: 8px;
}
.contact-icon{
    height: 50px;
    width: 50px;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
  }

.centrado {
    display: table;
    margin: 0 auto;
}

footer{
    position: fixed;
    background-color: var(--main-contrast-color);
    width: 100%;
    bottom: 0;
    left: 0;
    font-family: 'Alata', sans-serif;
    color: var(--bg-color);
    text-align: center;
}

footer p{
    font-size: 12px;
    line-height: 0;
}


@media (max-width: 580px){
    nav {
        flex-direction: column;
        padding-bottom: 10px;
        justify-content: center;
    }

    main {
        padding: 300px 0;
    }
    h1 {
        color:var(--main-color)
    }

    h2 {
        color: var(--main-contrast-color)
    }
    .card-foto{
        display: flex;
        justify-content: center;
        height:400px;
        width: auto;
    }

    .texto-der {
        display: flex;
        flex-flow: column wrap;
        padding: 5px 10% 15px;
    }
    h1, h2, h3, p{
        text-align: center;
    }

    .texto-centro {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 0 10%;
    }

    .texto-centro h1, h2{
        padding-bottom: 1px;
    }

    .contactos{
        position: fixed;
        left: 0px;
        right: auto;
    }
    .contactos ul {
        display: flex;
        flex-direction: column;
    }
}